source venv/bin/activate

export FLASK_APP="run.py"
export SECRET="some-very-long-string-of-random-characters-CHANGE-TO-YOUR-LIKING"
export APP_SETTINGS="development"


export DATABASE_URL="postgres://user:password@localhost/capstone"
export TESTDB_URL="postgres://user:password@localhost/capstone_test"

export AUTH0_DOMAIN = 'domain.auth0.com'
export API_AUDIENCE = 'apiaudience'


export CREATIVE_DIRECTOR="Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJrSTNRek16UkRFMVJVTTJRVEl3TURJME5FWkNSakJCUkVGRU1UZ3hPRU5FTnpOR05EZ3hRUSJ9.eyJpc3MiOiJodHRwczovL21vdmllY2FzdC5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWUxOTA2MzNhNjJmYmYwY2M0YmRlMGI1IiwiYXVkIjoibW92aWVjYXN0IiwiaWF0IjoxNTc5MDAyODk2LCJleHAiOjE1NzkwODkyOTYsImF6cCI6IlE0bzROaEZUM014TVdmZ0ZMSXY1VDBaUzBMNXBNSkQxIiwic2NvcGUiOiIiLCJwZXJtaXNzaW9ucyI6WyJkZWxldGU6YWN0b3JzIiwiZ2V0OmFjdG9ycyIsImdldDptb3ZpZXMiLCJwYXRjaDphY3RvcnMiLCJwYXRjaDptb3ZpZXMiLCJwb3N0OmFjdG9ycyJdfQ.K12lR3iBK45_XEpTmLBx95fVsGRCbgU5mziK8YNuZjqbp0gxCDzOLzso8qt4x3DWlQ6xit_z2y8iOU3Rzed3nPTwjo5pSPZwMZdJWt3b2UpO_JRw_feOkgQ6y25UM8qwyh83xtXNPGBIxENcBGvuI0-lLbiEN4jwm2YkN3IZesJMGC9-ADuTu53Hx7BRUN51nPiSvGgmmCR5dFrITL1nAsdZ4AymJbHfzSSJxwSr_Fu28jf8N4XTk3i73ARGNhY5AaqHsZXpgEisidCaKy_6Dml0evMaStldAhhD1l1_HaeZ0lHV2ecLtMhN6JX28jzVQ7z-iS2b71-BFrLsiplwzQ"
export EXECUTIVE_PRODUCER="Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlJrSTNRek16UkRFMVJVTTJRVEl3TURJME5FWkNSakJCUkVGRU1UZ3hPRU5FTnpOR05EZ3hRUSJ9.eyJpc3MiOiJodHRwczovL21vdmllY2FzdC5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWUxOTA2OWE1ZDNmNWQwY2YzMjZiMDU4IiwiYXVkIjoibW92aWVjYXN0IiwiaWF0IjoxNTc4OTUxNDAzLCJleHAiOjE1NzkwMzc4MDMsImF6cCI6IlE0bzROaEZUM014TVdmZ0ZMSXY1VDBaUzBMNXBNSkQxIiwic2NvcGUiOiIiLCJwZXJtaXNzaW9ucyI6WyJkZWxldGU6bW92aWVzIiwiZ2V0OmFjdG9ycyIsImdldDptb3ZpZXMiLCJwb3N0Om1vdmllcyJdfQ.rJCyPHWaD5mfc4l-SNvhx1kaYllChUcdeCbrF8fHO2kPUTyYEsudEkwwhXHBrf4gMHuYnD-cq9O7AVELmx85-tcKDTr3vFuxZVSoRRpco-kXtc0LawiCELTiE_EGRYO5iioA1-GzNom3TWrtD50hExuzKUPjnucFjWVCibSTDqeBXpcRoXCLWBo-yQ6yHX6eGwmP-eE8YdhiyMereXVLxFlSD-dJkR5ZwFgVhJaP-XFMc4rF206oBwgq7-JKNUuMU_mcPH_gmpM7DBXY4Zu_YkuAwKvs-foRB-lEpuHFqQmsiMPs8GZvNfFF0ZrWueNw2BL4N3XHRvjmgCvA1sU9WA"